.menu-image{
    background-image: url("../images/mainpageimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
   
    
   
  

}
.image-content{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-menu{
    width: 350px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    border: none;

}
.search-button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 20px;
    background-color: orange;
    border: 2px solid white;

}
.search-icon{
    color: white;
}




/* categories  items*/


.underline {
    width: 100px;
    height: 5px;
    background-color: orangered;
    border-radius: 10px;
    margin: 20px;
}

.cat-heading {
    margin: 20px;
}

.cats-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 100px;

}

.catdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px lightgrey;
}

.cat-img {
    width: 80%;
    height: 80%;
    transition-duration: 0.2s;
}

.cat-img:hover {
    transform: scale(1.2);
}

.cats-title {
    position: relative;
    left: 40px;
    background-color: orange;
    color: white;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    border-radius: 2px;
}



/* meals */


.meals-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
}
.mealCard-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px lightblue;
}
.mealCard-img{
    width: 100%;
    height: 80%;
}
.mealTitle{
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    color: white;
    padding: 2px;
    background-color: brown;
    border-radius: 2px;
    text-align: center;
}
.meal-cat-name{
    margin-left: 20px;
}
