.menu-image{
    background-image: url("../images/mainpageimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  

}
.search-menu{
    width: 350px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    border: none;
}
.search-button{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 20px;
    background-color: orange;
    border: 2px solid white;
}
.search-icon{
    color: white;
}



div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
div > div {
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px;
}
img {
    max-width: 100%;
    border-radius: 10px;
}
#categories{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 30px;


}
.menu-categories{
    margin-top: 40px;
}